*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}
html{
    width: 100%;
    height: 100%;
}
body{
    font-size: 1em;
    font-weight: 400;
    width: 100%;
    height: 100%;
    background-color: #1f1f21;
}
.flexOnly{
    display: flex;
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexSpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexWrap{
    flex-wrap: wrap;
}
